{{ define "additional-styles" }}
{{ $sass := resources.Get "sass/docs-main.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
    <h1>Documentation</h1>
    <section class="content">
        <div class="content-item">
            <h2>Get started</h2>
            <p>Set up your environment and start building.</p>
        </div>
        <div class="content-item">
            <h2>Widgets catalog</h2>
            <p>Check out all widgets available in Fabulous.</p>
        </div>
        <div class="content-item">
            <h2>Tutorials</h2>
            <p>Learn how to build your first Fabulous app.</p>
        </div>
        <div class="content-item">
            <h2>Development</h2>
            <p>Explore the dev guides to master basic and advanced concepts</p>
        </div>
        <div class="content-item">
            <h2>Architecture</h2>
            <p>Deep dive into the internals of Fabulous.</p>
        </div>
    </section>
{{ end }}

{{ define "menu" }}
    <input type="search" />
    <select>
        <option>Version 1</option>
        <option selected="selected">Version 2</option>
    </select>
    <ul class="sidenav">
        <li>
            <a class="nav-link" href="#sidenav-1" role="button" aria-expanded="false" aria-controls="sidenav-1">Get started</a>
        </li>
        <li>
            <a class="nav-link" href="#sidenav-2" role="button" aria-expanded="false" aria-controls="sidenav-2">Tutorials</a>
        </li>
        <li>
            <a class="nav-link" href="#sidenav-3" role="button" aria-expanded="false" aria-controls="sidenav-3">Development</a>
        </li>
        <li>
            <a class="nav-link" href="#sidenav-4" role="button" aria-expanded="false" aria-controls="sidenav-4">Architecture</a>
        </li>
    </ul>
    <a class="button outlined">API Reference</a>
{{ end }}